@import url(../init.css);

form {
  display: flex;
  flex-direction: column;
}

.create-box {
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.create-quest {
  font-weight: bold;
  font-size: 0.75rem;
}

[id^="id_"]
{
  width: 100%;
  height: 2.5rem;
  padding: 0.5rem;

  border: 1px solid black;
  border-radius: 0.5rem;
}

.create-btn {
  margin: 4rem 0 4rem;
  align-self: center;
}

.create-img {
  display: none;
}

#id_image {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#label_Img {
  width: 7rem;

  padding: 0.7rem;
  border: 1px solid black;
  border-radius: 0.5rem;

  font-size: 0.75rem;
  font-weight: bold;
  text-align: center;
}