@import url(../init.css);

.container {
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.title-self {
  padding: 3rem 0 1rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.group-img_box {
  width: 3.4rem;
  height: 3.4rem;
  border-radius: 70%;
  overflow: hidden;
}

.group-img {
  width: 100%;
  height: 100%;

  flex-wrap: nowrap;
  object-fit: cover;
}

.members {
  width: 10rem;
  padding: 0.5rem 1rem 0.5rem;

  border: 1px solid black;
  border-radius: 0.3rem;

  font-size: 0.75rem;
  font-weight: bold;

  text-align: center;
}

.group-code {
  padding: 1rem;
  font-size: 0.75rem;
}

.group-intro {
  padding: 1rem 0 2rem;

  font-weight: bold;
}

.customLook {
  margin-left: 2rem;
}
