<!DOCTYPE html>
<html lang="en">
  {% load static %}

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/posts/create.css' %}" />
    <script
      src="https://kit.fontawesome.com/b453b8b1fc.js"
      crossorigin="anonymous"
    ></script>
    <title>LogCreate</title>
  </head>
  <body>
    <div class="gradient2"></div>
    <div class="container">
      <div class="title">
        <div class="btitle">
          약속은 <br />
          어떠셨나요?
        </div>
      </div>
      <div class="create-log">
        <form
          action="{% url 'posts:create' %}"
          method="post"
          enctype="multipart/form-data"
        >
          {% csrf_token %}
          <div class="create-box">
            <div class="create-quest">제목</div>
            <input
              class="log-input"
              type="text"
              name="logTitle"
              placeholder="제목"
            />
          </div>
          <div class="create-box">
            <div class="create-quest">공개 범위</div>
            <select class="log-input" name="openRange">
              {% for open in openRanges %}
              <option value="{{open.id}}">{{open.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="create-box">
            <div class="create-quest">약속 날짜</div>
            <input
              class="log-input"
              type="date"
              name="logDate"
              value="2022-08-23"
              min="2022-01-01"
              max="2022-12-31"
            />
          </div>
          <div class="create-box">
            <div class="create-quest">약속 구성원</div>
            <!-- 유저 이름 목록 가져오기 -->
          </div>
          <div class="create-box">
            <div class="create-quest">어디 다녀오셨나요?</div>
            <div class="places">
              <input
                class="log-input"
                type="text"
                placeholder="장소를 추가해주세요"
              />
              <!-- 
            디폴트(meetPlace) 불러오기
            + 버튼에 클릭이벤트로 input element 추가 걸어줄 예정
            장소 여러개 등록
            --></div>
            <div class="place-add">
              <i class="fa-solid fa-circle-plus"></i>
            </div>
          </div>
          <div class="create-box">
            <div class="create-quest">약속은 어땠나요?</div>
            <textarea
              class="log-textarea"
              name="logContent"
              rows="30"
              cols="10"
              placeholder="본문내용"
            ></textarea>
          </div>
          <div class="create-box">
            <div class="create-quest">사진 첨부</div>
          </div>
          <div class="create-box">
            <div class="create-quest">동영상 첨부</div>
          </div>
          <input class="btn log-btn" type="submit" value="로그 저장" />
        </form>
      </div>
    </div>
    <script>
      const addBtn = document.querySelector(".place-add");
      const places = document.querySelector(".places");
      addBtn.addEventListener("click", () => {
        let place = document.createElement("input");
        place.setAttribute("class", "log-input");
        place.setAttribute("type", "text");
        place.setAttribute("placeholder", "장소를 추가해주세요");
        places.appendChild(place);
      });
    </script>
  </body>
</html>
