<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/posts/detail.css' %}" />
    <script
      src="https://kit.fontawesome.com/b453b8b1fc.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="side-img">
      <div class="container">
        <h1>제목{{ post.logTitle }}</h1>
        <p>본문 내용 {{ post.logContent }}</p>
        <p>날짜{{ post.logDate }}</p>
        <p>생성날짜{{ post.createdAt }}</p>
        <p>업데이트 날짜{{ post.updatedAt }}</p>
        {% if post.openRange == 0 %}
        <p>비공개</p>
        {% elif post.openRange == 1 %}
        <p>그룹공개</p>
        {% elif post.openRange == 2 %}
        <p>전체공개</p>
        {% endif %}
        <p>작성자</p>

        <p>구성원</p>
        {% for member in myMeetMembers %}
        <p>{{ member }}</p>
        {% endfor %}
        <p>태그</p>

        <p>장소</p>
        {% for place in post.places.places %}
        <p>{{ place }}</p>
        {% endfor %}

        <p>좋아요 {{ post.likeCount }}</p>
        <p>키워드</p>
        {% for tag in myKeywords %}
        <p>{{ tag }}</p>
        {% endfor %}
        <p>이미지</p>
        {% if postImgs %} {% for img in postImgs %}
        <img src="{{ img.image.url }}" alt="{{ img.image.imgName }}" />
        {% endfor %} {% endif %}
      </div>
    </div>
  </body>
</html>
