<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/posts/detail.css' %}" />
    <script
      src="https://kit.fontawesome.com/b453b8b1fc.js"
      crossorigin="anonymous"
    ></script>
    <link rel="shortcut icon" href="{% static 'img/favicons/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicons/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/favicons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'img/favicons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>GROUP-ING</title>
  </head>
  <body>
    <div class="all-wraper">
    <div class="gradient"></div>
    <div class="img-wrapper">
      <img class="cover-img" src="/static/img/cover.png" />
    </div>
    <div class="container">
      <div class="header">
        {% if post.openRange == 0 %}
        <div>비공개</div>
        {% elif post.openRange == 1 %}
        <div>그룹공개</div>
        {% elif post.openRange == 2 %}
        <div>전체공개</div>
        {% endif %}
        <div class="title">
          <div class="btitle">
            <div>{{ post.logTitle }}</div>
            <div class="icons">
              <a href="{% url 'posts:update' post.id %}"
                ><i class="fa-solid fa-pen-to-square"></i
              ></a>
              <form action="{% url 'posts:delete' post.id %}" method="post">
                {% csrf_token %}
                <button type="submit">
                  <i class="fa-solid fa-trash-can"></i>
                </button>
              </form>
            </div>
          </div>
          <div class="stitle">작성자  {{ post.userId.name }}</div>
          <div class="tags">
            {% for tag in myKeywords %}
            <div class="tag">{{ tag }}</div>
            {% endfor %}
          </div>
          <!-- <p>좋아요 {{ post.likeCount }}</p> -->
        </div>
      </div>
      <div class="log-contents">
        <div class="log-content log-date">
          <div class="log-label">약속 날짜</div>
          <p>{{ post.logStartDate.year}}.{{ post.logStartDate.month}}.{{ post.logStartDate.day}} {{ post.logStartDate.hour}}시 부터</p>
          <p>{{ post.logEndDate.year}}.{{ post.logEndDate.month}}.{{ post.logEndDate.day}} {{ post.logEndDate.hour}}시 까지</p>
        </div>
        <div class="log-content">
          <div class="log-label">누구랑?</div>
          <div class="log-content">
            {% for member in myMeetMembers %}
            <p>{{ member }}</p>
            {% endfor %}
          </div>
        </div>
        <div class="log-content">
          <div class="log-label">다녀온 곳들</div>
          <div class="log-places">
            {% for place in post.places.places %}
            <p>📍{{ place }}</p>
            {% endfor %}
          </div>
        </div>

        <div class="log-content">
          <div class="log-label">약속 소감</div>
          <p>{{ post.logContent }}</p>
        </div>

        <div class="log-content">
          <div class="log-images">
            {% if postImgs %} {% for img in postImgs %}
            <img
              class="log-image"
              src="{{ img.image.url }}"
              alt="{{ img.image.imgName }}"
            />
            {% endfor %} {% endif %}
          </div>
        </div>

        <footer>
          <div class="log-content log-date">
            <div class="log-label ">로그 생성일시</div>
            <p>{{ post.createAt.year }}.{{ post.createAt.month }}.{{ post.createAt.day }} {{ post.createAt.hour }}:{{ post.createAt.minute }}</p>
          </div>
          <div class="log-content log-date">
            <div class="log-label">로그 수정일시</div>
            <p>{{ post.updateAt.year }}.{{ post.updateAt.month }}.{{ post.updateAt.day }} {{ post.updateAt.hour }}:{{ post.updateAt.minute }}</p>
          </div>
        </footer>
        <a href="{% url 'posts:main' %}" class="btn">목록으로</a>
      </div>
    </div>
    </div>
  </body>
</html>
