<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/posts/main.css' %}" />
    <script
      src="https://kit.fontawesome.com/c1be11131c.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="all-wraper">
    <div class="gradient"></div>
    <div class="img-wrapper">
      <img class="side-img" src="/static/img/side.png" />
    </div>
    <div class="container">
      <div class="header">
        <div class="title">
          <div class="btitle">그룹 — 로그</div>
          <form class="form-search" action="{% url 'posts:main' %}" method="get">
            {% csrf_token %}
            <div class="form-search-core">
              <input name='titleSearch' class="search" type="text" placeholder="검색어를 입력하세요" />
              <button class="search-btn" type="submit">
                <i class="fas fa-search"></i>
              </button>
            </div>
            <select class="form-search-select" name='openRange'>
              <option value='전체공개' selected>전체공개</option> 
              <option value='그룹공개'>그룹공개</option> 
              <option value='비공개'>비공개</option> 
            </select>
          </form>
        </div>
      </div>

      <div class="log-contents">
        <div class="posts">
          {% for post in posts %}
          <div class="post-wrapper">
            <a class="post" href="{% url 'posts:detail' post.post.id %}">
              <div class="log-img_box">
                {% if post.postImgs %}
                <img
                  class="log-img"
                  src="{{ post.postImgs.0.image.url }}"
                  alt="{{ post.postImgs.0.image.imgName }}"
                />
                {% endif %}
              </div>
              <div class="post-content">
                <div class="post-title">{{ post.post.logTitle }}</div>
                <div class="post-user">{{ post.post.userId }}</div>
                <!-- <div>좋아요 {{ post.post.likeCount }}</div> -->
                <div class="tags">
                  {% for keyword in post.post.logKeywords.all %}
                  <div class="tag">{{ keyword.keyword }}</div>
                  {% endfor %}
                </div>
                <div class="post-date">{{post.post.updateAt}}</div>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
        <a href="{% url 'posts:create' %}" class="btn">글쓰기</a>
      </div>
    </div>
    </div>
  </body>
</html>
