<!DOCTYPE html>
<html lang="en">
  {% load static %}
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/logins/changePW.css' %}" />
</head>
<body>

  <div class="gradient2"></div>
  <div class="container">
    <div class="title">
      <div class="btitle">비밀번호 변경</div>
    </div>  
      
    <div class="change_pw">  
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <form class=" change_pw_form" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn change_pw_btn"type="submit">완료</button>
        </form>
    </div>
</body>
</html>
