<h1>로그인</h1>
<h4>다시 돌아오신 걸 환영해요!</h4>
<br />
{% if user.is_authenticated %} 로그인성공! 
{{user.username}}
{{user.name}}
{{user.nickname}}
{{user.age}}
{{user.email}}
{{user.address}}
{{user.addressDetail}}
{{user.gender}}

<a href="{% url 'logins:logout' %}">로그아웃</a>{% else %}
<form action="" method="POST">
  {% csrf_token %}
  <input name="username" type="text" placeholder="아이디를 입력해주세요"/>
  <br/>
  <input name="password" type="password" placeholder="비밀번호를 입력해주세요"/>
  <br/>  
  <input type="submit" value="로그인" />
  <br/>
</form>
<a href="{% url 'logins:signup' %}">그룹핑이 처음이신가요?</a><br/>

{% endif %}

{% load socialaccount %}
<a href=" {% provider_login_url 'naver' %}">NAVER로 시작하기</a><br/>
<a href=" {% provider_login_url 'google' %}">GOOGLE로 시작하기</a>
