<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/logins/login.css' %}" />
    <script
      src="https://kit.fontawesome.com/b453b8b1fc.js"
      crossorigin="anonymous"
    ></script>
    <link rel="shortcut icon" href="{% static 'img/favicons/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicons/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/favicons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'img/favicons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>GROUP-ING</title>
  </head>

  <body>
    <div class="container">
      <div class="title">
        <img class="eyes" src="{% static 'img/eyes.png' %}" alt="" />
        <div class="btitle">로그인</div>
        <div class="stitle">다시 돌아오신 걸 환영해요!</div>
      </div>

      <ul class="logins">
        <div class="login">
          <div class="msg">
          {% if user.is_authenticated %} {% comment %} 로그인성공! <br />
          <a href="{% url 'logins:logout' %}">로그아웃</a>
          {% endcomment %} {% else %}
          {{error_messages}}
        </div>
          <form class="login_idpw" action="" method="POST">
            {% csrf_token %}
            <div class="login_id">
              <input
                style="border: none; background: transparent;"
                name="username"
                type="text"
                placeholder="아이디를 입력해주세요"
              />
              <hr class="id_line" />

            </div>

            <div class="login_pw">
              <input
                name="password"
                type="password"
                placeholder="비밀번호를 입력해주세요"
              />
              <hr class="pw_line" />
            </div>


            <input class="login_btn" type="submit" value="로그인" />


          </form>
          <div class="login_signup_container">
            <div class="login_signup">
              <a href="{% url 'logins:signup' %}">그룹핑이 처음이신가요?</a>
            </div>
            <div class="login_find">
              <a href="{% url 'logins:findId' %}">아이디찾기</a>
              /
              <a href="{% url 'logins:findPw' %}">비밀번호찾기</a>
            </div>
          </div>
        </div>

        {% endif %}
      </ul>
    </div>
  </body>
</html>
