<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/logins/login.css' %}" />
    <script
      src="https://kit.fontawesome.com/b453b8b1fc.js"
      crossorigin="anonymous"
    ></script>
    <title>LOGIN</title>
  </head>

  <body>
    <div class="all-wraper">
    <div class="container">
      <div class="title">
        <img class="eyes" src="{% static 'img/eyes.png' %}" alt="" />
        <div class="btitle">로그인</div>
        <div class="stitle">다시 돌아오신 걸 환영해요!</div>
      </div>

      <ul class="logins">
        <div class="login">
          <div class="msg">
          {% if user.is_authenticated %} {% comment %} 로그인성공! <br />
          <a href="{% url 'logins:logout' %}">로그아웃</a>
          {% endcomment %} {% else %}
          {{error_messages}}
        </div>
          <form class="login_idpw" action="" method="POST">
            {% csrf_token %}
            <div class="login_id">
              <input
                style="border: none; background: transparent;"
                name="username"
                type="text"
                placeholder="아이디를 입력해주세요"
              />
              <hr class="id_line" />

            </div>

            <div class="login_pw">
              <input
                name="password"
                type="password"
                placeholder="비밀번호를 입력해주세요"
              />
              <hr class="pw_line" />
            </div>


            <input class="login_btn" type="submit" value="로그인" />


          </form>
          <div class="login_signup_container">
            <div class="login_signup">
              <a href="{% url 'logins:signup' %}">그룹핑이 처음이신가요?</a>
            </div>
            <div class="login_find">
              <a href="{% url 'logins:findId' %}">아이디찾기</a>
              /
              <a href="{% url 'logins:findPw' %}">비밀번호찾기</a>
            </div>
          </div>
        </div>

        {% endif %}
      </ul>
    </div>
    </div>
  </body>
</html>
