<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/logins/mypage.css' %}" />
    <script
      src="https://kit.fontawesome.com/b453b8b1fc.js"
      crossorigin="anonymous"
    ></script>
    <link rel="shortcut icon" href="{% static 'img/favicons/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicons/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/favicons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'img/favicons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>GROUP-ING</title>
  </head>
  <body>
    <div class="all-wraper">
    <div class="mypage_img">
      <div class="container">

        <div class="profile">
          <div class="profile-img_box">
            {% if user.profileImg %}
            <img class="profile-img" src="{{ user.profileImg.url }}" />
            {% endif %}
          </div>
          <div class="profile-info">
            <div class="nickname_info">{{ user.nickname }}</div>
            <div class="info_update">
              <a
                class="info_update_text"
                href="{% url 'logins:update' user.id%}"
              ></a>
            </div>
          </div>
          <div class="motto">" {{ user.intro }} "</div>
        </div>
        <div class="my_infos">
          <a class="btn" href="{% url 'groups:main' %}"> 내 그룹들 보기 </a>
          <div class="info-wrapper">
            <div class="info-label">아이디</div>
            <div class="info-content">{{user.username}}</div>
          </div>
          <div class="info-wrapper">
            <div class="info-label">닉네임</div>
            <div class="info-content">{{user.nickname}}</div>
          </div>
          <div class="info-wrapper">
            <div class="info-label">나이</div>
            <div class="info-content">{{user.age}}</div>
          </div>
          <div class="info-wrapper">
            <div class="info-label">전화번호</div>
            <div class="info-content">{{user.phoneNumber}}</div>
          </div>
          <div class="info-wrapper">
            <div class="info-label">이메일</div>
            <div class="info-content">{{user.email}}</div>
          </div>
          <div class="info-wrapper">
            <div class="info-label">집주소</div>
            <div class="info-content">
              {{user.address}} {{user.addressDetail}}
            </div>
          </div>
          <div class="info-wrapper">
            <div class="info-label">성별</div>
            <div class="info-content">{{user.gender}}</div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>
