<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/logins/mypage.css' %}" />
    <script
      src="https://kit.fontawesome.com/b453b8b1fc.js"
      crossorigin="anonymous"
    ></script>
    <title>MYPAGE</title>
  </head>
  <body>
    <div class="all-wraper">
    <div class="mypage_img">
      <div class="container">

        <div class="profile">
          <div class="profile-img_box">
            {% if user.profileImg %}
            <img class="profile-img" src="{{ user.profileImg.url }}" />
            {% endif %}
          </div>
          <div class="profile-info">
            <div class="nickname_info">{{ user.nickname }}</div>
            <div class="info_update">
              <a
                class="info_update_text"
                href="{% url 'logins:update' user.id%}"
              ></a>
            </div>
          </div>
          <div class="motto">" {{ user.intro }} "</div>
        </div>
        <div class="my_infos">
          <a class="btn" href="{% url 'groups:main' %}"> 내 그룹들 보기 </a>
          <div class="info-wrapper">
            <div class="info-label">아이디</div>
            <div class="info-content">{{user.username}}</div>
          </div>
          <div class="info-wrapper">
            <div class="info-label">닉네임</div>
            <div class="info-content">{{user.nickname}}</div>
          </div>
          <div class="info-wrapper">
            <div class="info-label">나이</div>
            <div class="info-content">{{user.age}}</div>
          </div>
          <div class="info-wrapper">
            <div class="info-label">전화번호</div>
            <div class="info-content">{{user.phoneNumber}}</div>
          </div>
          <div class="info-wrapper">
            <div class="info-label">이메일</div>
            <div class="info-content">{{user.email}}</div>
          </div>
          <div class="info-wrapper">
            <div class="info-label">집주소</div>
            <div class="info-content">
              {{user.address}} {{user.addressDetail}}
            </div>
          </div>
          <div class="info-wrapper">
            <div class="info-label">성별</div>
            <div class="info-content">{{user.gender}}</div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </body>
</html>
