
<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PW_reset</title>
</head>
<body>

    <form action="" method="POST" name="checkPwForm">
    {% csrf_token %}
    <label name="label_new_password1" for="{{ form.new_password1.id_for_label }}">{{ form.new_password1.label }}</label>
    {{ form.new_password1 }}
    <label name="label_new_password2" for="{{ form.new_password2.id_for_label }}">{{ form.new_password2.label }}</label>
    {{ form.new_password2 }}
    <button type="button" class="submit" onclick="checkForm()">
        제출
    </button>
    </form>
    <script src="{% static 'js/logins/passwordReset.js' %}"></script>
</body>
</html>
