<!DOCTYPE html>
<html lang="ko">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/logins/signup.css' %}" />
    <script
      src="https://kit.fontawesome.com/0dee369a16.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>SIGN-UP</title>
  </head>

  <body>
    <div class="gradient"></div>
    <div class="container">
      <div class="title">
        <img class="eyes" src="{% static 'img/eyes.png' %}" alt="" />
        <div class="btitle">
          같이 <br />
          그룹핑 해요!
        </div>
      </div>

      <main>
 <!-- <form method="POST" action="">
        {% csrf_token %}
        <div class="signup">
          <div class="create-box">
            <div class="create-quest">아이디</div>
            {{ form.username }}
          </div>
          <div class="create-box">
            <div class="create-quest">비밀번호</div>
            {{ form.password1 }}
          </div>
          <div class="create-box">
            <div class="create-quest">비밀번호 확인</div>
            {{ form.password2 }}
          </div>
          <div class="create-box">
            <div class="create-quest">이름</div>
            {{ form.name }}
          </div>
          <div class="create-box">
            <div class="create-quest">닉네임</div>
            {{ form.nickname }}
          </div>
          <div class="create-box">
            <div i class="create-quest">이메일</div>
            {{ form.email }}
          </div>
          <div class="create-box">
            <div class="create-quest">전화번호</div>
            {{ form.phoneNumber }}
          </div>
          <div class="create-box">
            <div class="create-quest">나이</div>
            {{ form.age }}
          </div>
          <div class="create-box">
            <div class="create-quest">주소</div>
            {{ form.address }}
          </div>
          <div class="create-box">
            <div class="create-quest">상세주소</div>
            {{ form.addressDetail }}
          </div>
          <div class="create-box">
            <div class="create-quest">성별</div>
            {{ form.gender }}
          </div>
          <div class="create-box">
            <div class="create-quest">프로필 이미지</div>
            {{ form.profileImg }}
            <label for="id_profileImg"
              ><i class="fa-solid fa-folder"></i> 이미지 업로드</label
            >
          </div>
        </div>
        <button class="btn" type="button" class="submit" onclick="form_check()">
          그룹핑에 오신 걸 환영합니다!
        </button>
      </form> -->


        <form method="POST" action="" enctype="multipart/form-data", name="signupForm">
          {% csrf_token %}
          <div class="signups">
            <div class="signup-form">
              <label name="label_username" for="{{ form.username.id_for_label }}">{{ form.username.label }}</label>
              <input type="text" id ='id_username1' placeholder="아이디" onchange="detectID()">
        {{ form.username }}
        <input id="usernameCheck" type="button" value="ID중복확인"></input>
        <div id='error_username'></div>
        <label name="label_password1" for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
        {{ form.password1 }}
        <label name="label_password2" for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
        {{ form.password2 }}
        <label name="label_name" for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
        {{ form.name }}
        <label name="label_nickname" for="{{ form.nickname.id_for_label }}">{{ form.nickname.label }}</label>
        {{ form.nickname }}
        <label name="label_age" for="{{ form.age.id_for_label }}">{{ form.age.label }}</label>
        {{ form.age }}
        <label name="label_phoneNumber" for="{{ form.phoneNumber.id_for_label }}">{{ form.phoneNumber.label }}</label>
        {{ form.phoneNumber }}
        <label name="label_email" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
        <input type="text" id ='id_email1' placeholder="example@example.com" onchange="detectEmail()">
        {{ form.email }}
        <input id="emailCheck" type="button" value="email중복확인"></input>
        <div id='error_email'></div>
        <label name="label_profileImg" for="{{ form.profileImg.id_for_label }}">{{ form.profileImg.label }}</label>
        {{ form.profileImg }}
        <label name="label_address" for="{{ form.address.id_for_label }}">{{ form.address.label }}</label>
        {{ form.address }}
        <label name="label_addressDetail" for="{{ form.addressDetail.id_for_label }}">{{ form.addressDetail.label }}</label>
        {{ form.addressDetail }}
        <label name="label_gender" for="{{ form.gender.id_for_label }}">{{ form.gender.label }}</label>
        {{ form.gender }}
              {% comment %}{{form.as_p}}{% endcomment %}</div>

            <div class="inform">
              <button id='myform' class="btn" type="button" class="submit" onclick="form_check()"> 그룹핑에 오신 걸 환영합니다! </button>
            </div>
          </div>
        </form>
      </main>
    </div>
  </body>

  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

  <script>
    window.onload = function () {
      document
        .getElementById("address_kakao")
        .addEventListener("click", function () {
          //주소입력칸을 클릭하면
          //카카오 지도 발생
          new daum.Postcode({
            oncomplete: function (data) {
              //선택시 입력값 세팅
              document.getElementById("address_kakao").value = data.address; // 주소 넣기
              document.querySelector("input[name=address_detail]").focus(); //상세입력 포커싱
            },
          }).open();
        });
    };
  </script>

  <script>
let IdCheckValue = true;
let EmailCheckValue = true;

const form_check = () => {
  const userId1 = document.getElementById("id_username1");
  const userId2 = document.getElementById("id_username");
  const userPw1 = document.getElementById("id_password1");
  const userPw2 = document.getElementById("id_password2");
  const userName = document.getElementById("id_name");
  const userNickName = document.getElementById("id_nickname");
  const email1 = document.getElementById("id_email1");
  const email2 = document.getElementById("id_email");
  const phoneNum = document.getElementById("id_phoneNumber");
  const userAge = document.getElementById("id_age");
  const address1 = document.getElementById("address_kakao");
  const address2 = document.getElementById("id_addressDetail");
  //   const gender = document.getElementById("user_gender");
  //   const userImg = document.getElementById("user_img");



  // 입력 체크
  if (userId1.value == "") {
    alert("아이디를 입력하세요!");
    userId1.focus();
    return false;
  }

  if (userId1.value != "" && userId2.value == "") {
    alert("아이디 중복확인을 해주세요!");
    userId1.focus();
    return false;
  }

  if (userPw1.value == "") {
    alert("비밀번호를 입력하세요!");
    userPw1.focus();
    return false;
  }
  if (userPw2.value == "") {
    alert("비밀번호 확인을 입력하세요!");
    userPw2.focus();
    return false;
  }
  if (userName.value == "") {
    alert("이름을 입력하세요!");
    userName.focus();
    return false;
  }
  if (userNickName.value == "") {
    alert("닉네임을 입력하세요!");
    userNickName.focus();
    return false;
  }
  if (email1.value == "") {
    alert("이메일을 입력하세요!");
    email1.focus();
    return false;
  }
  if (email1.value != "" && email2.value == "") {
    alert("이메일 중복확인을 해주세요!");
    console.log(email1.value + email2.value)
    email1.focus();
    return false;
  }
  if (phoneNum.value == "") {
    alert("전화번호를 입력하세요!");
    phoneNum.focus();
    return false;
  }

  if (userAge.value == "") {
    alert("나이를 입력하세요!");
    userAge.focus();
    return false;
  }
  if (address1.value == "") {
    alert("주소를 입력하세요!");
    address1.focus();
    return false;
  }
  if (address2.value == "") {
    alert("상세주소를 입력하세요!");
    address2.focus();
    return false;
  }

  // id 길이
  if (userId1.value.length < 5 || userId1.value.length > 20) {
    alert("아이디를 5자 이상 20자 이하로 적어주세요!");
    userId1.focus();
    return false;
  }

  // 비밀번호 조건
  const pwCheck = /^(?=.*[a-z])(?=.*[A-Z])((?=.*\d)(?=.*\W)).{8,16}$/;
  if (!pwCheck.test(userPw1.value)) {
    alert(
      "비밀번호는 영문자+숫자+특수문자 조합으로 8-16자리를 사용해야 합니다."
    );
    userPw1.focus();
    return false;
  }

  // 비밀번호 일치
  if (userPw1.value !== userPw2.value) {
    alert("비밀번호가 일치하지 않습니다");
    userPw2.focus();
    return false;
  }

  // 이메일 정규식 체크
  const emailFormCheck =
    /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/;
  if (!emailFormCheck.test(email1.value)) {
    alert("이메일 형식을 지켜주세요!");
    email1.focus();
    return false;
  }

  // 아이디 중복
  if (IdCheckValue == false) {
    return false;
  }

  // 이메일 중복
  if (EmailCheckValue == false) {
    return false;
  }

  // 모두 통과하면 form 제출
  document.signupForm.submit();
};

function detectID() {
  const username1 = document.querySelector("#id_username1").value;
  const username2 = document.querySelector("#id_username").value;
  const element = document.querySelector("#error_username");
  if (username1 == username2 || username2 == "") {
    element.innerHTML = "";
  } else {
    element.innerHTML = "<p>아이디 중복확인을 해주세요!!</p>";
  }
}

function detectEmail() {
  const email1 = document.querySelector("#id_email1").value;
  const email2 = document.querySelector("#id_email").value;
  const element = document.querySelector("#error_email");
  if (email1 == email2 || email2 == "") {
    element.innerHTML = "";
  } else {
    element.innerHTML = "<p>이메일 중복확인을 해주세요!!</p>";
  }
}

// 아이디 중복체크
const usernameCheck = document.querySelector("#usernameCheck");
usernameCheck.addEventListener("click", (event) => {
  const username = document.querySelector("#id_username1").value;
  axios.defaults.xsrfCookieName = "csrftoken";
  axios.defaults.xsrfHeaderName = "X-CSRFToken";
  if (username == ''){
    alert("아이디를 입력하세요!");
    return false;
  }
  axios
    .post("/logins/signup/usernameCheck", {
      username: username,
    })
    .then((response) => {
      if (response.data.result == "fail") {
        alert("해당 아이디는 이미 존재하는 아이디입니다.");
        IdCheckValue = false;
        return false;
      } else {
        alert("사용 가능한 아이디입니다.");
        document.querySelector("#id_username").value =
          document.querySelector("#id_username1").value;
        document.querySelector("#error_username").innerHTML = "";
        return true;
      }
    });
});

// 이메일 중복체크
const emailCheck = document.querySelector("#emailCheck");
const emailForm =
  /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/;
emailCheck.addEventListener("click", (event) => {
  const email1 = document.querySelector("#id_email1");
  const email = document.querySelector("#id_email1").value;
  axios.defaults.xsrfCookieName = "csrftoken";
  axios.defaults.xsrfHeaderName = "X-CSRFToken";
  if (email == ''){
    alert("이메일을 입력하세요!");
    return false;
  }
  if (!emailForm.test(email)) {
    alert("이메일 형식을 지켜주세요!");
    email1.focus();
    return false;
  }
  axios
    .post("/logins/signup/emailCheck", {
      email: email,
    })
    .then((response) => {
      if (response.data.result == "fail") {
        alert("해당 이메일는 이미 존재하는 이메일입니다.");
        return false;
      } else {
        alert("사용 가능한 이메일입니다.");
        document.querySelector("#id_email").value =
          document.querySelector("#id_email1").value;
        document.querySelector("#error_email").innerHTML = "";
        return true;
      }
    });
});

  </script>

</html>