@import url(../init.css);

.mypage_img {
  background: url("/static/img/mypage.png");
  background-repeat: repeat-x;
  width: 100%;
  vertical-align: middle;
}

.container {
  gap: 1rem;
}

.profile {
  height: 30vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.profile-img_box {
  width: 4rem;
  height: 4rem;
  border-radius: 70%;
  border: 2px solid black;
  overflow: hidden;
}

.profile-img {
  width: 100%;
  height: 100%;

  flex-wrap: nowrap;
  object-fit: cover;
}

.profile-info {
  padding-left: 1.8rem;

  display: flex;
  gap: 1rem;
}

.nickname_info {
  font-size: 1.25rem;
  text-align: center;
  font-weight: bold;
}

.info_update_text::before {
  font-family: "FontAwesome";
  content: "\f303";
}

.motto {
  font-weight: bold;
}

.my_infos {
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 2rem;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.info-label {
  font-size: 0.75rem;
  font-weight: bold;
  color: black;
}

.info-content {
  font-size: 0.75rem;
}

.my_group_place {
  display: flex;
  justify-content: center;
}
