@import url(../init.css);

.container{
    height: 100vh;
    width: 100vw;
    padding: 0px;
}

.mypage{
    position:relative;
}

.mypage_img img {
    width: 100vw;
}

.up-profile{
    display: flex;
    margin-top: 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    justify-content: center;
}

.user-img{
    position: absolute;
    top: 15%;
}

.nickname_info{
    position: absolute;
    top: 25%;
}

.info_update_text::before{
    font-family: "FontAwesome"; content: "\f303";
    position: absolute;
    top: 25%; 
    left: 60%;
}



.down-profile{
    font-size: 1.2rem;
    font-weight: bold;
    height: 100vw;
}

.down1{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}

.intro{
    margin-bottom: 1.2rem;
}

.my_group{
    width: 15rem;
    height: 2.5rem;
}

.down1 a{
    border: 2px solid #545454;
    border-radius: 5px;
    color: #545454;
    padding: 2px;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;

}


.down2{
    padding-left: 10vw;
    display: flex;
    flex-direction: column;
    height: 100vw;
    justify-content: space-evenly;
}

.info_detail{
    margin-top: 10px;
    font-size: 1rem;
}