@import url(../init.css);


.show_id{
    border: 2px solid black;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.5rem;
    display: flex;
    padding: 1rem;
    justify-content: center;
}