@import url(../init.css);

form {
    padding-bottom: 5rem;

    display: flex;
    flex-direction: column;
  }
  
  .signup {
    padding-bottom: 6rem;
  }
  
  .create-box {
    padding: 1rem;
  
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
  
  #id_profileImg {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  #label_profileImg {
    width: 7rem;
  
    padding: 0.7rem;
    border: 1px solid black;
    border-radius: 0.5rem;
  
    font-size: 0.75rem;
    font-weight: bold;
    text-align: center;
  }

  .change-btn {
    width: 10rem;
    padding: 0.7rem 0 0.7rem;
    margin: 1rem;

    background-color: white;

    border: 1px solid black;
    border-radius: 0.3rem;

    text-align: center;
    font-size: 0.75rem;
    font-weight: bold;

    align-self: center;
  }

.form_detail{
    font-weight: bold;
    font-size: 0.75rem;
}

.form_input,
#id_gender {
    width: 100%;
    height: 2.5rem;
    padding: 0.5rem;
  
    border: 1px solid black;
    border-radius: 0.5rem;
    background: rgba(197, 252, 34, 0.2);
}

.form_detail select{
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 80vw;
    height: 40px;
    background: transparent;
    background-size: 20px;
    padding: 5px 30px 5px 10px;
    border: 2px solid #C4C4C4;
    border-radius: 6px;
    outline: 0 none;  
}

input[type='checkbox' i]{
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    border: initial;
    padding: initial;
}

.form_input input{
    padding-top: 0.2rem;

    font-size: 0.75rem;
}