@import url(../init.css);

form {
  display: flex;
  flex-direction: column;
}

.create-box {
  padding: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.create-quest {
  font-weight: bold;
}

.log-input {
  width: 100%;
  height: 2.5rem;
  padding: 0.5rem;

  border: 1px solid black;
  border-radius: 0.5rem;
}

.places {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.place-add {
  align-self: center;
}

.log-textarea {
  width: 100%;
  height: 8rem;
  padding: 0.5rem;

  border: 1px solid black;
  border-radius: 0.5rem;
}

.tagify {
  --tag-bg: greenyellow !important;
  --tag-hover: none !important;
}

.tagify--focus {
  width: 100%;
  height: 100%;
}

.tagify__tag::after {
  border: 1px solid black;
  border-radius: 0.5rem;
}

.tagify__tag {
  background-color: greenyellow;
  font-size: 0.5rem;
  font-weight: 600;
}

.tagify__input {
}

.tagify__dropdown__wrapper {
  border: 1px solid black !important;
  border-radius: 0.5rem;
}

.tagify__dropdown__item {
  padding: 0.5rem !important;
  font-size: 0.8rem;
}

.log-btn {
  margin: 4rem 0 4rem;
  align-self: center;
  justify-self: center;
}
