@import url(./init.css);

html {
  scroll-behavior:smooth !important;
}

body {
  background: white;
}

.main-logo-wrapper {
  width: 100%;
  padding-top: 10%;
  padding-left: 2%;

  overflow: hidden;
}

.main-logo {
  width: 100%;
  margin-top: -35%;
  margin-bottom: -20%;
}

.main-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-size: 1rem;
  font-weight: bold;
}

.buttons {
  padding: 1rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;

  gap: 0.75rem;
}

.button {
  font-size: 0.5rem;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.button:hover {
  background: #c6fc23;
  color: black;
  border-color: #c6fc23;
}

.ti.show {
  opacity: 1;
  transform: none;
}

.ti-up {
  transform: translate(0, 4rem);
  transition: all ease 2s;
}

.form-search {
  display: flex;
  flex-direction: column;
}

.pen {
  height: 0.5rem;
  padding: 0 0.2rem 0;

  position: relative;
  background: rgba(198, 252, 35, 0.8);
}

.downbtn,
.upbtn {
  padding: 2.5rem;

  cursor: pointer;

  font-size: 1.25rem;
}

.upbtn {
  padding: 2.5rem;

  cursor: pointer;

  align-self: center;
  
  font-size: 1.25rem;
  color: white;
}

#start-title {
  padding: 4rem 0 4rem;

  font-size: 2rem;
  font-weight: bold;
  line-height: 2.5rem;

  font-family: 'Poppins', sans-serif;
  color: black;
}

.middle-title {
  width: 100%;
  padding: 4rem 0 4rem;

  font-size: 2rem;
  font-weight: bold;
  line-height: 2.5rem;

  color: black;

  text-align: right;
}

.main-container {
  padding: 2rem;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container-intro {
  padding: 4rem 0 4rem;

  align-self: center;

  display: flex;
  flex-direction: column;
}

.intro-content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  text-align: center;
}

[class^="container"] {
  display: flex;
  gap: 1.75rem;
}

.line-wrapper {
  width: 0.75rem;
  margin: 0.2rem;

  overflow: hidden;
}

.line {
  width: 0.75rem;
}

.content {
  padding: 1.75rem 0 1.75rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.small-title {
  font-size: 1.25rem;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.text {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1rem;
}

.container-group {
  height: 8rem;
}

.container-meet {
  height: 11rem;
  justify-content: flex-end;
  text-align: right;
}

.container-keyword {
  height: 8rem;
}

.container-table {
  height: 11rem;
  justify-content: flex-end;
  text-align: right;
}

.container-vote {
  height: 7rem;
}

.container-log {
  height: 14rem;
  justify-content: flex-end;
  text-align: right;
}

footer {
  padding: 2.5rem 0 2.5rem;

  background: linear-gradient(to top, #545454, transparent);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-title {
  padding: 2.5rem;

  font-size: 1.25rem;
  font-family: 'Poppins', sans-serif;
  color: black
}

.footer-text {
  padding: 0 2.5rem 2.5rem;

  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  font-size: 0.75rem;
  font-family: 'Poppins', sans-serif;
  color: white;
}

