@import url(./init.css);

html {
  scroll-behavior:smooth;
}

body {
  background: white;
}

.main-logo-wrapper {
  width: 100vw;
  padding-top: 10vh;
  padding-left: 2vw;

  overflow: hidden;
}

.main-logo {
  width: 100%;
  margin-top: -35%;
  margin-bottom: -20%;
}

.main-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  font-size: 4vw;
  font-weight: bold;
}

.buttons {
  padding: 5vw;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;

  gap: 3vw;
}

.button {
  font-size: 2vw;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.button:hover {
  background: #c6fc23;
  color: black;
  border-color: #c6fc23;
}

.ti.show {
  opacity: 1;
  transform: none;
}

.ti-up {
  transform: translate(0, 8vh);
  transition: all ease 1s;
  transition-delay: 1s;
}

.form-search {
  display: flex;
  flex-direction: column;
}

.pen {
  height: 0.5rem;
  padding: 0 0.2rem 0;

  position: relative;
  background: rgba(198, 252, 35, 0.8);
}

.downbtn {
  padding: 10vw;

  cursor: pointer;

  font-size: 5vw;
}

#start-title {
  width: 100%;
  padding: 4rem 0 4rem;

  font-size: 10vw;
  font-weight: bold;
  line-height: 11vw;

  font-size: 10vw;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  color: black;
}

.middle-title {
  width: 100%;
  padding: 4rem 0 4rem;

  font-size: 10vw;
  font-weight: bold;
  line-height: 11vw;

  font-size: 10vw;
  font-weight: 900;
  color: black;

  text-align: right;
}

.main-container {
  padding: 2rem;

  display: flex;
  flex-direction: column;
  gap: 5vw;
}

.container-intro {
  height: 60vh;
  padding: 15vw 0 15vw;

  align-self: center;

  display: flex;
  flex-direction: column;
}

.intro-content {
  display: flex;
  flex-direction: column;
  gap: 5vw;

  text-align: center;
}

[class^="container"] {
  display: flex;
  gap: 5vw;
}

.line-wrapper {
  width: 3vw;
  margin: 1vw;

  overflow: hidden;
}

.line {
  width: 3vw;
}

.content {
  padding: 7vw 0 7vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3vh;
}

.small-title {
  font-size: 5vw;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.text {
  font-size: 3vw;
  font-weight: 600;
  line-height: 4vw;
}

.container-group {
  height: 25vh;
}

.container-meet {
  height: 30vh;
  justify-content: flex-end;
  text-align: right;
}

.container-keyword {
  height: 25vh;
}

.container-table {
  height: 30vh;
  justify-content: flex-end;
  text-align: right;
}

.container-vote {
  height: 25vh;
}

.container-log {
  height: 40vh;
  justify-content: flex-end;
  text-align: right;
}

footer {
  padding: 10vh 0 10vh;

  background: linear-gradient(to top, #545454, transparent);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-title {
  padding: 10vw;

  font-size: 5vw;
  font-family: 'Poppins', sans-serif;
  color: black
}

.footer-text {
  padding: 0 10vw 10vw;

  display: flex;
  flex-direction: column;
  gap: 0.2rem;

  font-size: 3vw;
  font-family: 'Poppins', sans-serif;
  color: white;
}

