<!DOCTYPE html>
<html lang="ko">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PIROGRAM CARDGAME</title>
    <script
      src="https://kit.fontawesome.com/0dee369a16.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <nav>
        {% if user.is_authenticated %} {% else %}
        <a href="{% url 'logins:signup' %}">회원가입</a>
        {% endif %}
      </nav>
    </header>
    {% block content %}
    <main>
      {% load socialaccount %}
      <a href=" {% provider_login_url 'naver' %}">네이버 로그인</a>
      <a href=" {% provider_login_url 'google' %}">구글 로그인</a>
      {% if user.is_authenticated %}
      <div class="main-desc">
        <i class="fa-regular fa-lightbulb fa-2xl"></i>
        <div>
          <h1>전 세계 피로그래머와</h1>
          <h1>한 판 승부 숫자카드게임</h1>
          <h1></h1>
          <h4 class="main-loging">{{user.username}}님이 로그인 중</h4>
          <a href="{% url 'logins:logout' %}">로그아웃</a>
        </div>
      </div>
      {% else %}
      <div class="main-desc">
        <i class="fa-regular fa-lightbulb fa-2xl"></i>
        <div></div>
        <div class="btn-box"></div>
      </div>
      {% endif %}
    </main>
    {% endblock content %}
    <footer>
      <p>피로그래밍 17기 화이티이이이잉</p>
      <p>방구석 피로그래밍 연구소 | 조금 더 길어야 예쁠거 같아요</p>
    </footer>
  </body>
</html>
