<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/groups/blacklist.css' %}" />
    <script
        src="https://kit.fontawesome.com/b453b8b1fc.js"
        crossorigin="anonymous"
    ></script>
    <link rel="shortcut icon" href="{% static 'img/favicons/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicons/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/favicons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'img/favicons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>GROUP-ING</title>
    
</head>
<body>
    <div class="all-wraper">
    <div class="container">
    <div class="title">
        <div class="btitle">
            BLACKLIST
        </div>
    </div>
        <div class="blacklist"> 
            <form action="{% url 'groups:addBlackList' group.id%}" method="POST">
                {%csrf_token%}
                <p class="black-text">블랙리스트에 추가할 아이디</p>
                <div class="input-box">
                <input class="input-place" type="text" name="username">
                <input class="input-submit" type="submit">
                </div>
                
            </form>
            
            <div class="name-place">
            {% for person in blackList %}
                <div id='person{{person.id}}'>
                    <p class="name-place-detail">{{person}}<button onclick="removeBlackList({{person.id}}, {{group.id}})" ><i class="fa-regular fa-trash-can"></i></button></p>
                    
                </div> 
            {% endfor %}
            </div>
            
        </div>
    </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    const removeBlackList = async(userId, groupId) => {
        const url = '/groups/group/removeBlackList'
        const {data} = await axios.post(url, {userId, groupId})
        const name = data.userId 
        console.log(name)
        const removed = document.querySelector(`#person${name}`)
        removed.remove()

    }
    
</script>
</html>