<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>블랙리스트 관리</title>
</head>
<body>
    <form action="{% url 'groups:addBlackList' group.id%}" method="POST">
        {%csrf_token%}
        <p>블랙리스트에 추가할 아이디를 적어</p>
        <input type="text" name="username">
        <input type="submit">
    </form>
    

    {% for person in blackList %}
        <p>{{person}}</p>
    {% endfor %}
</body>
</html>