<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/groups/head.css' %}" />
    <script
        src="https://kit.fontawesome.com/b453b8b1fc.js"
        crossorigin="anonymous"
    ></script>
    <title>handOverHead</title>
    
</head>
<body>
    <div class="container">
    <div class="title">
        <div class="btitle">
            그룹장 양도
        </div>
    </div>
    <div class="content">
    <div class="members-list">
        <div class="list-title">그룹 멤버들</div>
        <div class="members">
            {% for member in members %}
            <div class="member">{{member}}</div>
            {% endfor %}
        </div>
    </div>
    <form class="content-change" action="" method = 'POST' name="handOver">
        {%csrf_token%}
        <div class="change-input">
            <div class="list-title">그룹장을 받을 아이디 검색</div>
            <input id='nextHead' type="text" name="nextHead">
        </div>
        <div class="leave btn">
            <div>탈퇴하기</div>
            <input type="checkbox" id="leaveCheckbox" name='leaveCheck[]' value ='1'>
        </div>
        <button class="btn" type="button" onclick="sumbitHead()">그룹장 양도하기</button>
    </form>
    </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    const sumbitHead = () => {
        const nextHead = document.querySelector('#nextHead').value;
        const groupmember = {{members|safe}};
        if (!groupmember.includes(nextHead)){
            alert('해당 그룹에 없는 멤버입니다.')
            return false;
        }
        document.handOver.submit();
    }

</script>
</html>

