<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GroupMain</title>
</head>
<body>
    group main page
    <a href="{% url 'groups:create' %}">그룹 생성하기</a>
    <a href="{% url 'groups:join' %}">그룹 참여하기</a>
    {% for group in groups %}
    <h3><a href="{% url 'groups:detail' group.id %}">{{group.name}}</a></h3>
    {% endfor %}
    {% comment %} <a href="{% url 'groups:detail' group.id %}">그룹 참여하기</a> {% endcomment %}
</body>
</html>