<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/groups/members.css' %}" />
    <script
      src="https://kit.fontawesome.com/b453b8b1fc.js"
      crossorigin="anonymous"
    ></script>
    <title>GROUPING</title>
  </head>

  <body>
    <div class="container">
      <div class="title">
        <div class="btitle">
          {{group.name}}<br />
          사람들
        </div>
      </div>


      <div class="members">
        <div class="members-head">그룹장 {{group.head}}</div>
        {% for member in members %}

          <div class="members-mem" id="member{{member.id}}">{{member}}
            {% if request.user.username == group.head %}
            {% if member.username == group.head%}
              <button class="to-blist">
                <a class="blacklist" href="{% url 'groups:blackList' group.id %}"
                ><p class="blist-btn"><i class="fa-solid fa-ban"></i></p></a>
              </button>
            {% else %}
              <button class="new-btn">
              <i class="fa-solid fa-circle-plus fa-lg"></i>
              </button>
              <div class="modal">
                <a class="modal-list" href="javascript:leaveForce({{member.id}},{{group.id}})"
                >그룹원 삭제</a>
                <a class="modal-list" href="{% url 'groups:blackList' group.id %}" onclick="addBlackList({{member.id}}, {{group.id}})"
                >블랙리스트 추가</a>
              </div>
            {% endif %}
            {% endif %}
          </div>
        {% endfor %}

      </div>
    </div>
  </body>
  <script src="{% static 'js/groups/members.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
      const leaveForce = async(userId, groupId) => {
          const url = '/groups/group/leaveForce'
          const {data} = await axios.post(url, {userId, groupId})
          const name = data.userId 
          console.log(name)
          const removed = document.querySelector(`#member${name}`)
          removed.remove()

      }

      const addBlackList = async(userId, groupId) => {
        const url = '/groups/group/addBlackListAxios'
        const {data} = await axios.post(url, {userId, groupId})
        const name = data.userId 
        console.log(name)
        const removed = document.querySelector(`#member${name}`)
        removed.remove()

        return true
    }
      
  </script>
</html>


