<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/groups/modify.css' %}" />
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify"></script>
    <script src="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.polyfills.min.js"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/@yaireo/tagify/dist/tagify.css"
      rel="stylesheet"
      type="text/css"
    />
    <title>GROUPING</title>
  </head>
  <body>
    <div class="all-wraper">
    <div class="gradient2"></div>
    <div class="container">
      <div class="title">
        <img class="eyes" src="{% static 'img/eyes.png' %}" alt="" />
        <div class="btitle">
          그룹 정보를 <br />
          수정해요
        </div>
      </div>
      <input type="checkbox" id="id-uncheck">
        <form
          action="{% url 'groups:modify' group.id %}"
          enctype="multipart/form-data"
          method="POST"
          onsubmit = "return searchChecked()"
        >
          {% csrf_token %}
          <div class="create-box">
            <div class="create-quest">그룹 이름이 무엇인가요?</div>
            {{ form.name }}
          </div>
          
          <div class="create-box">
            <div class="create-quest">그룹 목적은요?</div>
            {{ form.purpose }}
          </div>
          <div class="create-box">
            <div class="create-quest">그룹을 자랑해주세요!</div>
            {{ form.introduction }}
          </div>
          <div class="create-box">
            <div class="create-quest">그룹의 성향은 무엇인가요?</div>
            <input
              name="basic"
              placeholder="write some tags"
              value="
              {% for keyword in keywords %}
                {% if forloop.last %}
                  {{keyword.keyword}}
                {% else %}
                  {{keyword.keyword}},
                {% endif %} 
              {% endfor %}
              "
            />
          </div>
          <div class="create-box">
            <div class="create-quest">그룹을 대표할 이미지를 골라주세요</div>
            <label
            id="label_Img"
            class="create-quest"
            name="label_Img"
            for="{{ form.image.id_for_label }}"
            ><i class="fa-solid fa-folder"></i> 이미지 업로드</label
          >
            {{ form.image }}
          </div>
          <input type="text" class="head" name="head" style="display:none">
          <input class="btn create-btn" type="submit" value="완료" />
        </form>
        <a class="change-btn" href="{% url 'groups:handOverHead' group.id %}">그룹장 양도하기</a>
        <form action="{% url 'groups:delete' group.id %}" method="POST">
          {% csrf_token %}
          <button class="leave-btn">그룹 해체하기</button>
        </form>
      </div>
    </div>
  </body>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  {% comment %} <script>
    var list = {{allKeywords|safe}}
    var input = document.querySelector("input[name=tags]"),
      tagify = new Tagify(input, {
        whitelist: list,
        dropdown: {
          position: "manual",
          maxItems: Infinity,
          enabled: 0,
          classname: "tag-list",
        },
        enforceWhitelist: true,
      });

    tagify
      .on("dropdown:show", onSuggestionsListUpdate)
      .on("dropdown:hide", onSuggestionsListHide)
      .on("dropdown:scroll", onDropdownScroll);

    renderSuggestionsList();

    // ES2015 argument destructuring
    function onSuggestionsListUpdate({ detail: suggestionsElm }) {
      console.log(suggestionsElm);
    }

    function onSuggestionsListHide() {
      console.log("hide dropdown");
    }

    function onDropdownScroll(e) {
      console.log(e.detail);
    }

    // https://developer.mozilla.org/en-US/docs/Web/API/Element/insertAdjacentElement
    function renderSuggestionsList() {
      tagify.dropdown.show(); // load the list
      tagify.DOM.scope.parentNode.appendChild(tagify.DOM.dropdown);
    }
  </script> {% endcomment %}
  <script>
      // The DOM element you wish to replace with Tagify
      var input = document.querySelector('input[name=basic]')
      // initialize Tagify on the above input node reference
      new Tagify(input)
  </script>
</html>
