<!DOCTYPE html>
<html lang="ko">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <form
      action='{% url 'meetings:create' %}'
      method='post'
      enctype='multipart/form-data'>
        {% csrf_token %}
        <span>약속 이름:</span>
        <input type='text' name='meetName' />
        <span>날짜:</span>
        <input type='date' name='meetTime' />
        <span>장소:</span>
        <input type='text' name='meetPlace' />

        <span> 모집 시작일 </span>
        <input id='stDate' type='date' name='startDate'/>
        <span> 모집 종료일 </span>
        <input id='edDate' type='date' name='endDate' />
    </form>
  </body>
  <script>
    document.getElementById('stDate').value = new Date().toISOString().substring(0, 10);
    document.getElementById('edDate').value = new Date().toISOString().substring(0, 10);
  </script>
</html>
