<html>
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/meetings/detail.css' %}" />
    <script
      src="https://kit.fontawesome.com/b453b8b1fc.js"
      crossorigin="anonymous"
    ></script>
    <title>약속 등록</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="title">
          <div class="btitle">{{ meeting.meetName }}</div>
          <div class="stitle">일정을 확인해주세요!</div>
        </div>
        <a href="{% url 'meetings:update' id=group.id meetId=meeting.id %}">
          <i class="fa-solid fa-pen-to-square"></i>
        </a>
      </div>
      <div class="meeting-content">
        <div class="meeting-period">
          <div>
            {{ meeting.meetStart }} ~ <br />
            {{ meeting.meetEnd }}
          </div>
          {% if meeting.meetStatus == 0 %}
          <div class="meeting-status">모집중</div>
          {% elif meeting.meetStatus == 1 %}
          <div class="meeting-status">투표중</div>
          {% elif meeting.meetStatus == 2%}
          <div class="meeting-status">모집완료</div>
          {% endif %}
        </div>
        <div class="meeting-people">
          {{group.name}}의 사람들이 참여하고 있어요
        </div>
        <div class="meeting-place">
          <div>약속 장소</div>
          <div>{{ meeting.meetPlace }}</div>
        </div>

        <div>
          <a class="btn meet-btn" href="{% url 'groups:detail' id=group.id %}"
            >약속목록</a
          >

      <form action="{% url 'meetings:delete' id=group.id meetId=meeting.id %}" method='post'>
        {% csrf_token %}
        <input type="submit" value="약속 삭제">
      </form>

      <a href='{% url 'meetCalendar:main' meetId=meeting.id %}'>캘린더</a>
    </div>
  </body>
</html>
