<html>
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/meetings/detail.css' %}" />
    <script
      src="https://kit.fontawesome.com/b453b8b1fc.js"
      crossorigin="anonymous"
    ></script>
    <title>GROUP-ING</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <div class="title">
          {% if meeting.meetStatus == 0 %}
          <div class="meeting-status status0">모집중</div>
          {% elif meeting.meetStatus == 1 %}
          <div class="meeting-status status1">투표중</div>
          {% elif meeting.meetStatus == 2%}
          <div class="meeting-status status2">조율중</div>
          {% elif meeting.meetStatus == 3%}
          <div class="meeting-status status3">모집완료</div>
          {% endif %}
          <div class="btitle">{{ meeting.meetName }}</div>
          <div class="stitle">일정을 확인해주세요!</div>
        </div>
        <div class="icons">
          <a href="{% url 'meetings:update' id=group.id meetId=meeting.id %}">
            <i class="fa-solid fa-pen-to-square"></i>
          </a>
          <form
            action="{% url 'meetings:delete' id=group.id meetId=meeting.id %}"
            method="post" name='deleteMeeting'
          >
            {% csrf_token %}
            <input type='hidden' id='meetId' value='{{ meeting.id }}' />
            <input type='hidden' id='groupId' value='{{ group.id }}' />
            <button type="button" name='deleteMeeting' id='deleteBtn' onclick='deleteMeetingBtn()'>
              <i class="fa-solid fa-right-from-bracket"></i>
            </button>
          </form>
        </div>
      </div>
      <div class="meeting-content">
        {% if meeting.meetStatus == 0 %}
        <div class="meeting-quest">
          <div class="meeting-period">
            {{ meeting.meetStart }} <br />
            ~ {{ meeting.meetEnd }}
          </div>
          <div class="meeting-text">시간 되시나요?</div>
        </div>
        <div class="meeting-btns">
          <a
          class="meeting-cal"
          href="{% url 'meetCalendar:main' meetId=meeting.id %}"
          ><i class="fa-regular fa-calendar"></i> 시간표 보러가기</a
        >
        <!-- 미팅id에 해당하는 통계모델이 존재하다면 띄워주기  -->
          {% if request.user == meeting.meetHead and isExistInfo %}
            <form class="meeting-cal" action="{% url 'meetings:changeStatus' id=group.id meetId=meeting.id %}" method='POST'>
              {%csrf_token%}
              <button>투표 시작하기</button>
            </form>
          {%endif%}
        </div>
        {% elif meeting.meetStatus == 1 %}
          <div class="meeting-quest">
            <div class="meeting-period">
              {{ meeting.meetStart }} <br />
              ~ {{ meeting.meetEnd }}
            </div>
            <div class="meeting-text">시간 되시나요?</div>
          </div>
          <div class="meeting-btns">
          {% if meeting.meetType == 'today' %}
            <a
            class="meeting-cal"
            href="{% url 'meetCalendar:voteDayCandidate' meetId=meeting.id %}"
            ><i class="fa-regular fa-calendar"></i> 투표하기</a
          >
          {% else %}
            <a
              class="meeting-cal"
              href="{% url 'meetCalendar:voteTravelCandidate' meetId=meeting.id %}"
              ><i class="fa-regular fa-calendar"></i> 투표하기</a
            >
          {% endif %}
          {% if request.user == meeting.meetHead %}
            <form class="meeting-cal" action="{% url 'meetings:changeStatus' id=group.id meetId=meeting.id %}" method='POST'>
              {%csrf_token%}
              <button>투표 종료하기</button>
            </form>
          {%endif%}
          </div>
        {% elif meeting.meetStatus == 2 %}
        <div class="meeting-quest">
          <div class="meeting-period">
            {{ meeting.meetStart }} <br />
            ~ {{ meeting.meetEnd }}
          </div>
          <div class="meeting-text">시간 되시나요?</div>
        </div>
        <div class="meeting-btns">
            {% if meeting.meetType == 'today' %}
              <a
              class="meeting-cal"
              href="{% url 'meetCalendar:voteDayCandidate' meetId=meeting.id %}"
              ><i class="fa-regular fa-calendar"></i> 투표 결과</a
              >
            {% else %}
              <a
                class="meeting-cal"
                href="{% url 'meetCalendar:voteTravelCandidate' meetId=meeting.id %}"
                ><i class="fa-regular fa-calendar"></i> 투표 결과</a
              >
            {% endif %}
        </div>
        {% elif meeting.meetStatus == 3 %}
        <div class="meeting-quest">
          <div class="meeting-period">
            {{ meeting.meetStartTime }} <br />
            ~ {{ meeting.meetEndTime }}
          </div>
          <div class="meeting-text">약속은 어떠셨나요?</div>
        </div>
        <div class="meeting-btns">
        <form action="{% url 'posts:create' %}" method="get">
          {% csrf_token %}
          <input type="hidden" name="meetId" value="{{ meeting.id }}" />
          <input type="submit" class="meeting-cal" value="✎ 약속로그 작성하기" />
        </form>
        </div>
        {% endif %}
      </div>
        
      {% if meetUsersName %}
      <div class="meeting-people quest">
        <div class="users">
          {% for key, val in meetUsersName.items %}
          <div class="user">
            <div class="user-img_box">
              <img class="user-img" src="{{ val.url }}" alt="이미지 없음" />
            </div>
            <div class="user-name">{{ key }}</div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% else %}
      <div class="q">🥲 아직 참여한 사람이 없어요</div>
      {% endif %}

      <div class="meeting-place quest">
        <div class="q">📍{{ meeting.meetPlace }} 에서 만나요!</div>
      </div>
      <a class="btn meet-btn" href="{% url 'groups:detail' id=group.id %}"
        >약속목록</a
      >
    </div>
  </body>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="{% static 'js/meetings/detail.js' %}"></script>
 
</html>
