<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/meetCalendar/create.css' %}" />
    <link rel="shortcut icon" href="{% static 'img/favicons/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicons/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/favicons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'img/favicons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>GROUP-ING</title>
  </head>
  <body>
    {% if meeting.meetType == 'today' %}
    <form
      class="container"
      action="{% url 'meetCalendar:create' meetId=meetId %}"
      ,
      method="POST"
    >
      <div class="container-content">
        {% csrf_token %} {% if form.errors %} {% if messages %}
        <div>
          {% for message in messages %} {{ message.message }} {% endfor %}
        </div>
        {% endif %} {% endif %}
        <div class="content-title">
          <div class="title-range">
            {{ meeting.meetStart }} ~ {{ meeting.meetEnd }}
          </div>
          <div>📆 원하는 시간을 알려주세요! 📆</div>
        </div>
        <div class="content-body">
          <input
            class="selectdate"
            type="date"
            name="validDate"
            id="validDate"
          />
          <div class="selecttime">
            <div class="starttime">
              <select name="startTime" id="startTime">
                {% for key,value in meetTimes %}
                <option value="{{key}}">{{value}}</option>
                {% endfor %}
              </select>
              <div>시부터</div>
            </div>
            <div class="endtime">
              <select name="endTime" id="endTime">
                {% for key,value in meetTimes %}
                <option value="{{key}}">{{value}}</option>
                {% endfor %}
              </select>
              <div>시까지</div>
            </div>
          </div>
        </div>

        <input class="btn" type="submit" value="시간 제출" />
      </div>
    </form>

    {% else %}
    <form
      class="container"
      action="{% url 'meetCalendar:create' meetId=meetId %}"
      ,
      method="POST"
    >
      <div class="container-content">
        {% csrf_token %} {% if form.errors %} {% if messages %}
        <div>
          {% for message in messages %} {{message.message }} {% endfor %}
        </div>
        {% endif %} {% endif %}

        <div class="content-title">
          <div class="title-range">
            {{ meeting.meetStart }} ~ {{ meeting.meetEnd }}
          </div>
          <div>📆 원하는 시간을 알려주세요! 📆</div>
        </div>
        <input class="selectdate" type="date" name="startDate" id="startDate" />
        <select name="startTime" id="startTime">
          {% for key,value in meetTimes %}
          <option value="{{key}}">{{value}}</option>
          {% endfor %}
        </select>
        <input class="selectdate" type="date" name="endDate" id="endDate" />
        <select name="endTime" id="endTime">
          {% for key,value in meetTimes %}
          <option value="{{key}}">{{value}}</option>
          {% endfor %}
        </select>
        <input class="btn" type="submit" value="시간 제출" />
      </div>
    </form>
    {% endif %}
  </body>
</html>
