<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/meetCalendar/cal.css' %}" />
    <script
      src="https://kit.fontawesome.com/b453b8b1fc.js"
      crossorigin="anonymous"
    ></script>
    <title>캘린더</title>
  </head>

  <body onload="getDates({{ meetId }})">
    <div class="calendar">
      <div class="navbar">
        <button class="nav-btn go-prev" onclick="prevMonth()">
          <i class="fa-solid fa-circle-left"></i>
        </button>
        <div class="year-month"></div>
        <button class="nav-btn go-next" onclick="nextMonth()">
          <i class="fa-solid fa-circle-right"></i>
        </button>
      </div>
      <a href="{% url 'meetCalendar:create' meetId=meetId%}"
        >가능한 시간대 기입하러가기</a
      >
      <div class="main">
        <!-- 요일들 -->
        <div class="days">
          <div class="day">S</div>
          <div class="day">M</div>
          <div class="day">T</div>
          <div class="day">W</div>
          <div class="day">T</div>
          <div class="day">F</div>
          <div class="day">S</div>
        </div>
        <!-- 날짜들 (자바스크립트 구현)-->
        <div class="dates"></div>
      </div>
      <div class="modal">
        <div class="times">
          <!-- <div class="am">
            <div class="time">00 - 01</div>
            <div class="time">01 - 02</div>
            <div class="time">02 - 03</div>
            <div class="time">03 - 04</div>
            <div class="time">04 - 05</div>
            <div class="time">05 - 06</div>
            <div class="time">06 - 07</div>
            <div class="time">07 - 08</div>
            <div class="time">08 - 09</div>
            <div class="time">09 - 10</div>
            <div class="time">10 - 11</div>
            <div class="time">11 - 12</div>
          </div>
          <div class="pm">
            <div class="time">12 - 13</div>
            <div class="time">13 - 14</div>
            <div class="time">14 - 15</div>
            <div class="time">15 - 16</div>
            <div class="time">16 - 17</div>
            <div class="time">17 - 18</div>
            <div class="time">18 - 19</div>
            <div class="time">19 - 20</div>
            <div class="time">20 - 21</div>
            <div class="time">21 - 22</div>
            <div class="time">22 - 23</div>
            <div class="time">23 - 00</div>
          </div> -->
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{% static 'js/meetCalendar/cal.js' %}"></script>
  </body>
</html>
