<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/meetCalendar/vote.css' %}" />
    <script
    src="https://kit.fontawesome.com/b453b8b1fc.js"
    crossorigin="anonymous"
    ></script>
    <link rel="shortcut icon" href="{% static 'img/favicons/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'img/favicons/favicon.ico' %}" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/favicons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/favicons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/favicons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/favicon/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/favicons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/favicons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/favicons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/favicons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicons/apple-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'img/favicons/android-icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicons/favicon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>GROUP-ING</title>
</head>
<body>
    <div class="container">
    {% if meeting.meetStatus == 1 %}
        {%if user in meeting.meetVote.all%}
        <div class="votelist">
            {% for vote in voteList %}
            <div class="vote">
                <div class="vote-time">{{vote.year}}년 {{vote.month}}월 {{vote.day}}일 {{vote.startTime}}시 ~ {{vote.endTime}}시 </div>
                <div class="vote-pnum">{{vote.validUser.all.count}}명이 함께할 수 있어요!</div>
                <div>현재 투표 인원 {{vote.voteUser}}</div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="title-self">
            <div class="btitle">투표중</div>
            <div class="stitle">원하는 시간에 투표하세요!</div>
        </div>
            <form class="votelist" action="{% url 'meetCalendar:voteDayCandidate' meetId=meeting.id%}" method="POST">
                {% csrf_token %}
                {% for vote in voteList %}
                <div class="vote">
                    <div class="vote-info">
                        <div class="vote-time">{{vote.year}}년 {{vote.month}}월 {{vote.day}}일 {{vote.startTime}}시 ~ {{vote.endTime}}시 </div>
                        <div class="vote-pnum">👥 {{vote.validUser.all.count}}명이 함께할 수 있어요! 👥</div>
                    </div>
                    <input id="vote-checkbox{{vote.id}}" type="checkbox" name="selection[]" value="{{vote.id}}">
                    <label for="vote-checkbox{{vote.id}}"></label>
                </div>
                {% endfor %}
                <input class="btn" type="submit">
            </form>
        {% endif %}
    {% elif meeting.meetStatus == 2 %}
        {% if request.user.id == meeting.meetHead.id%}
            <div class="title-self">
                <div class="btitle">조율중</div>
                <div class="stitle">약속 시간을 확정하세요!</div>
            </div>
            <form class="votelist" action="{% url 'meetCalendar:fixDayCandidate' meetId=meeting.id%}" method="POST">
                {% csrf_token %}
                {% for vote in voteList %}
                <div class="vote">
                    <div class="vote-info">
                        <div class="vote-time">{{vote.year}}년 {{vote.month}}월 {{vote.day}}일 {{vote.startTime}}시 ~ {{vote.endTime}}시 </div>
                        <div class="vote-pnum">{{vote.validUser.all.count}}명이 함께할 수 있어요!</div>
                    <div>🔖 투표 인원 {{vote.voteUser}}</div>
                    </div>
                    <input id="vote-radio{{vote.id}}" type="radio" name="fix" value="{{vote.id}}">
                    <label for="vote-radio{{vote.id}}"></label>
                </div>
                {% endfor %}
                <input class="btn" type="submit">
            </form>
        {% else %}
        <div class="votelist">
            {% for vote in voteList %}
            <div class="vote">
                <div class="vote-time">{{vote.year}}년 {{vote.month}}월 {{vote.day}}일 {{vote.startTime}}시 ~ {{vote.endTime}}시 </div>
                <div class="vote-pnum">{{vote.validUser.all.count}}명이 함께해요!</div>
                <div>투표 인원 {{vote.voteUser}}표</div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    {% else %}
        <script>
            alert("투표 기간이 아닙니다!")
            location.href = "{% url 'meetings:detail' id=meeting.meetGroupId.id meetId=meeting.id%}"
        </script>
    {% endif %}
    </div>
</body>
</html>