<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <title>GROUP-ING</title>
  </head>
  <body>
    <header>
      {% if user.is_authenticated %}
        <div class="buttons">
          <a class="button signup" href="{% url 'logins:mypage' %}">MYPAGE</a>
          <a class="button mygroup" href="{% url 'groups:main' %}">MYGROUP</a>
          <a class="button grouplog" href="{% url 'posts:main' %}">GROUPLOG</a>
          <a class="button login" href="{% url 'logins:logout' %}">LOGOUT</a>
        </div>
      {% else %}
        <div class="buttons">
          <a class="button login" href="{% url 'logins:login' %}">LOGIN</a>
          <a class="button signup" href="{% url 'logins:signup' %}">SIGNUP</a>
        </div>
      {% endif %}
      <a href="/">
        <img class="main-logo" src="{% static 'img/logo_main.png' %}" alt="" />
      </a>
      <div class="main-title">
        <div class="ti ti-up we">우리는__</div>
        <div class="ti ti-up now" data-sa-delay="200">지금__</div>
        <div class="ti ti-up meet" data-sa-delay="400">만남을__</div>
        <div class="ti ti-up ing" data-sa-delay="600">진행중</div>
      </div>
    </header>
    <div class="main-container">
    </div>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
